body {
    background-color:#A18B55;
}
p{
    margin: 15px;
    text-align: justify;
    color: rgb(0, 56, 105);
}

div{
    background-color: #E0C33F;
}

h1 {
    color: rgb(10, 38, 65);
    text-align: center;
}